{% extends "layout.html" %}
{% block body %}
<div>
    <h3>My Roster</h3>
    <table border="1">
        <tr>
            <th>Player Name</th>
            <th>Position</th>
            <th>Price</th>
            <th>Options</th>
        </tr>
        {% for name in player_names %}
        <tr>
            <td>{{name}}</td>
            <td>{{positions[loop.index0]}}</td>
            <td>{{prices[loop.index0]}}</td>
            <td><form action="{{ url_for('waive') }}" method="post">
                <input type="submit" value="{{name}}"
                       name="player_name" /> - Waive
            </form></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('batters') }}"><button>Scout other Batters</button></a>
    <a href="{{ url_for('pitchers') }}"><button>Scout other Pitchers</button></a>
</div>
{% endblock %}