{% extends "layout.html" %}
{% block body %}
<div>
    <h3>League Transactions</h3>
    <table border="1">
        <tr>
            <th>User Name</th>
            <th>Player Name</th>
            <th>Timestamp</th>
            <th>Type</th>
        </tr>
        {% for user in logins %}
        <tr>
            <td>{{user}}</td>
            <td>{{player_names[loop.index0]}}</td>
            <td>{{timestamps[loop.index0]}}</td>
            <td>{{types[loop.index0]}}</td>
        </tr>
        {% endfor %}
    </table><br>
    <!--<form action="{{ url_for('leagues') }}" method="get">
        <input type="submit" value="{{league}}"
               name="league_name" /> - Return to League
    </form> -->
    <a href="{{ url_for('leagues') }}"><button>Return to My Leagues</button></a>


</div>
{% endblock %}