{% extends "layout.html" %}
{% block body %}
<div>
    <h3>Create League</h3>
    <form action="{{ url_for('leagues_create') }}" method=post class=add-league>
        League Name:<br>
        <input type="text" name="league_name"><br>
        Max Payroll:<br>
        <input type="text" name="max_payroll"><br>
        At Bats Weight:<br>
        <input type="text" name="atbats_weight"><br>
        Average Weight:<br>
        <input type="text" name="average_weight"><br>
        Hits Weight:<br>
        <input type="text" name="hits_weight"><br>
        Batter Walks Weight:<br>
        <input type="text" name="b_walks_weight"><br>
        Runs Weight:<br>
        <input type="text" name="runs_weight"><br>
        RBI Weight:<br>
        <input type="text" name="rbi_weight"><br>
        Homeruns Weight:<br>
        <input type="text" name="homeruns_weight"><br>
        Innings Weight:<br>
        <input type="text" name="innings_weight"><br>
        ERA Weight:<br>
        <input type="text" name="era_weight"><br>
        Pitcher Walks Weight:<br>
        <input type="text" name="p_walks_weight"><br>
        Strikeouts Weight:<br>
        <input type="text" name="strikeouts_weight"><br>
        Wins Weight:<br>
        <input type="text" name="wins_weight"><br>
        Losses Weight:<br>
        <input type="text" name="losses_weight"><br>
        Saves Weight:<br>
        <input type="text" name="saves_weight"><br>
        <input type="submit" value="Submit"><br>
    </form>
    <a href="{{ url_for('leagues') }}"><button>Return to My Leagues</button></a>
</div>
{% endblock %}