{% extends "layout.html" %}
{% block body %}
<div>
    <h3>My Leagues</h3>
    <table border="1">
        <tr>
            <th>League Name</th>
        </tr>
        {% for league in user_league_names %}
        <tr>
            <td><form action="{{ url_for('leagues') }}" method="get">
                <input type="submit" value="{{league}}"
                       name="league_name" />
            </form><!--<a href="{{ url_for('leagues') }}">{{league}}</a> --></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('leagues_create') }}"><button>Create New League</button></a>
    <h3>All Leagues</h3>
    <table border="1">
        <tr>
            <th>League Name</th>
            <th>Options</th>
        </tr>
        <tr>
            <td>Figure</td>
            <td>Out</td>
        </tr>
    </table>
</div>
{% endblock %}